.ddl-header {
  margin: 3rem;
  font-size: 4rem;
  text-align: center;
}

.dll-actions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid #000;
  border-radius: 0.8rem;
  margin: 0 1rem;
  padding: 1.5rem;
}

.dll-input {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.dll-input-field {
  margin-left: 0.5rem;
  outline: none;
  background: none;
  border: none;
  border-radius: 0.8rem;
  background-color: #fff;
  font-size: 1.4rem;
  padding: 0.5rem;
}

.dll-input-field:focus {
  box-shadow: 0 0 1px 2px dodgerblue;
}

.dll-input-label {
  font-weight: 500;
  font-size: 1.4rem;
}

.dll-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 65%;
}

.btn-dll-create {
  background-color: #923ada;
  color: #fff;
}

.btn-dll-create:hover {
  background-color: #5b1c8f;
}

.btn-dll-append {
  background-color: #30aee0;
  color: #fff;
}

.btn-dll-append:hover {
  background-color: #2280a5;
}

.btn-dll-remove {
  background-color: #0fb6b0;
  color: #fff;
}

.btn-dll-remove:hover {
  background-color: #0c5e5b;
}

.btn-dll-unshift {
  background-color: #c9eb41;
}

.btn-dll-unshift:hover {
  background-color: #859c27;
}

.btn-dll-shift {
  background-color: #eedf3e;
}

.btn-dll-shift:hover {
  background-color: #aaa02d;
}

.btn-dll-clear {
  background-color: #f78b38;
  color: #fff;
}

.btn-dll-clear:hover {
  background-color: #c46f2e;
}
