.dll-header {
  margin: 3rem;
  font-size: 4rem;
  text-align: center;
}

.dll-actions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid #000;
  border-radius: 0.8rem;
  margin: 0 1rem;
  padding: 1.5rem;
}

.dll-length {
  width: 65%;
  text-align: center;
  margin-bottom: 1.3rem;
  font-size: 1.5rem;
}

.dll-input {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.dll-input-field {
  display: inline-block;
  margin-left: 1rem;
  outline: none;
  background: none;
  border: none;
  border-radius: 0.8rem;
  background-color: #fff;
  font-size: 1.4rem;
  padding: 0.5rem;
  box-shadow: 0 0 1px 2px #1e90ff;
}

.dll-input-field:focus {
  box-shadow: 0 0 1px 3px #1a6bbd;
}

.dll-input-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.dll-input-label:nth-child(2) {
  margin-left: 0.5rem;
}

.dll-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 65%;
}

.btn-dll-append {
  background-color: #923ada;
  color: #fff;
}

.btn-dll-append:hover {
  background-color: #5b1c8f;
}

.btn-dll-pop {
  background-color: #30aee0;
}

.btn-dll-pop:hover {
  background-color: #2280a5;
}

.btn-dll-unshift {
  background-color: #0fb6b0;
}

.btn-dll-unshift:hover {
  background-color: #0c5e5b;
}

.btn-dll-shift {
  background-color: #c9eb41;
}

.btn-dll-shift:hover {
  background-color: #8fa829;
}

.btn-dll-insertAt {
  background-color: #eedf3e;
}

.btn-dll-insertAt:hover {
  background-color: #c2b529;
}

.btn-dll-removeAt {
  background-color: #f78b38;
}

.btn-dll-removeAt:hover {
  background-color: #c46f2e;
}

.btn-dll-clear {
  background-color: #f34343;
}

.btn-dll-clear:hover {
  background-color: #bb3434;
}

.node-items {
  position: relative;
  display: flex;
  margin: 5rem 1rem 3rem;
  height: 700px;
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .dll-length {
    width: 82%;
  }

  .dll-input {
    width: 82%;
  }

  .dll-buttons {
    width: 82%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1023px) {
  .dll-length {
    width: 86%;
  }

  .dll-input {
    width: 86%;
  }

  .dll-buttons {
    width: 86%;
  }
}

@media only screen and (max-width: 768px) {
  .dll-length {
    width: 90%;
  }

  .dll-input {
    width: 90%;
  }

  .dll-buttons {
    width: 90%;
  }
}

@media only screen and (max-width: 425px) {
  .dll-input-field {
    width: 95%;
  }
}
