.deque-header {
  margin: 3rem;
  font-size: 4rem;
  text-align: center;
}

.deque-actions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid #000;
  border-radius: 0.8rem;
  margin: 0 1rem;
  padding: 1.5rem;
}

.deque-size {
  width: 65%;
  text-align: center;
  margin-bottom: 1.3rem;
  font-size: 1.5rem;
}

.deque-input {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.deque-input-field {
  display: inline-block;
  margin-left: 1rem;
  outline: none;
  background: none;
  border: none;
  border-radius: 0.8rem;
  background-color: #fff;
  font-size: 1.4rem;
  padding: 0.5rem;
  box-shadow: 0 0 1px 2px #1e90ff;
}

.deque-input-field:focus {
  box-shadow: 0 0 1px 3px #1a6bbd;
}

.deque-input-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.deque-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 65%;
}

.btn-deque-insert-front {
  background-color: #923ada;
  color: #fff;
}

.btn-deque-insert-front:hover {
  background-color: #5b1c8f;
}

.btn-deque-insert-back {
  background-color: #0fb6b0;
  color: #fff;
}

.btn-deque-insert-back:hover {
  background-color: #0c5e5b;
}

.btn-deque-remove-front {
  background-color: #c9eb41;
}

.btn-deque-remove-front:hover {
  background-color: #8fa829;
}

.btn-deque-remove-back {
  background-color: #f78b38;
}

.btn-deque-remove-back:hover {
  background-color: #c46f2e;
}

.btn-deque-clear {
  background-color: #f34343;
  color: #fff;
}

.btn-deque-clear:hover {
  background-color: #bb3434;
}

.deque-items {
  position: relative;
  display: flex;
  margin: 5rem 1rem 3rem;
  height: 700px;
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .deque-size {
    width: 82%;
  }

  .deque-input {
    width: 82%;
  }

  .deque-buttons {
    width: 82%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1023px) {
  .deque-size {
    width: 86%;
  }

  .deque-input {
    width: 86%;
  }

  .deque-buttons {
    width: 86%;
  }
}

@media only screen and (max-width: 768px) {
  .deque-size {
    width: 90%;
  }

  .deque-input {
    width: 90%;
  }

  .deque-buttons {
    width: 90%;
  }
}

@media only screen and (max-width: 425px) {
  .deque-input-field {
    width: 95%;
  }
}
