.queue-header {
  margin: 3rem;
  font-size: 4rem;
  text-align: center;
}

.queue-actions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid #000;
  border-radius: 0.8rem;
  margin: 0 1rem;
  padding: 1.5rem;
}

.queue-size {
  width: 65%;
  text-align: center;
  margin-bottom: 1.3rem;
  font-size: 1.5rem;
}

.queue-input {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.queue-input-field {
  display: inline-block;
  margin-left: 1rem;
  outline: none;
  background: none;
  border: none;
  border-radius: 0.8rem;
  background-color: #fff;
  font-size: 1.4rem;
  padding: 0.5rem;
  box-shadow: 0 0 1px 2px #1e90ff;
}

.queue-input-field:focus {
  box-shadow: 0 0 1px 3px #1a6bbd;
}

.queue-input-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.queue-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 65%;
}

.btn-queue-push {
  background-color: #923ada;
  color: #fff;
}

.btn-queue-push:hover {
  background-color: #5b1c8f;
}

.btn-queue-pop {
  background-color: #30aee0;
  color: #fff;
}

.btn-queue-pop:hover {
  background-color: #2280a5;
}

.btn-queue-clear {
  background-color: #f34343;
  color: #fff;
}

.btn-queue-clear:hover {
  background-color: #bb3434;
}

.queue-items {
  position: relative;
  display: flex;
  margin: 5rem 1rem 3rem;
  height: 700px;
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .queue-size {
    width: 82%;
  }

  .queue-input {
    width: 82%;
  }

  .queue-buttons {
    width: 82%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1023px) {
  .queue-size {
    width: 86%;
  }

  .queue-input {
    width: 86%;
  }

  .queue-buttons {
    width: 86%;
  }
}

@media only screen and (max-width: 768px) {
  .queue-size {
    width: 90%;
  }

  .queue-input {
    width: 90%;
  }

  .queue-buttons {
    width: 90%;
  }
}

@media only screen and (max-width: 425px) {
  .queue-input-field {
    width: 95%;
  }
}
