/* fonts */
@font-face {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: italic;
  src: url('./fonts/Roboto-Italic.ttf');
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
  src: url('./fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: italic;
  src: url('./fonts/Roboto-MediumItalic.ttf');
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
  src: url('./fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: italic;
  src: url('./fonts/Roboto-BoldItalic.ttf');
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f5fafb;
}

.btn {
  border: none;
  border-radius: 0.5rem;
  padding: 0.7rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.btn:disabled {
  background-color: #cecece !important;
  cursor: not-allowed;
}

/* return to home component */
.return-to-home {
  width: 50px;
  margin: 0 auto;
  padding: 1rem 0;
  cursor: pointer;
}

.return-to-home:hover {
  color: #cecece;
}

.return-to-home > svg {
  width: 30px;
  height: 30px;
  margin-left: 9px;
}

.return-to-home > span {
  margin-top: 7px;
  margin-left: 2px;
}
